body {
	font-family: 'Host Grotesk', Arial, Helvetica, sans-serif;  
	margin: 0; 
  }
  
  header {
	display: flex;
	padding: 0;
  }
  

 /* Bron Visually Hidden: https://www.a11yproject.com/posts/how-to-hide-content/ */
  .visually_hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
 }

img[alt="straat logo wit"] {
	position: absolute; 
	top: 1em; 
	left: 1.5em; 
	width: 7.5em; 
	height: auto; 
}



/** EERSTE STREEPJES BUTTON **/
/* Bron: https://codepen.io/shooft/pen/JjQLVeB?editors=0010 */
section.streepjes {
    position: absolute; 
    margin: 0;
    padding: 0;
	top: 0.9em;    
    right: 1em;  
}

section.streepjes li:nth-of-type(1) button {
	display: grid;

	background-color: transparent;
	border: none;
	cursor: pointer;
  }
  
  section.streepjes li:nth-of-type(1) button span {
	grid-row-start: 1;
	grid-column-start: 1;

	width: 2.2em;
	height: 0.22em;
    background-color: white; 
	transition-duration: 0.5s;
	transition-property: transform, opacity;
  }
  

  section.streepjes li:nth-of-type(1) button span:nth-of-type(1) {
	position: relative;
	top: -0.65em;
	left: 0.5em;
  }
  
  section.streepjes li:nth-of-type(1) button span:nth-of-type(3) {
	position: relative;
	top: 0.65em;
	left: -0.5em;
  }
  
  

  /* als de EERSTE STREEPJES BUTTON de class menuOpen heeft */

  section.streepjes li:nth-of-type(1) button[aria-expanded="true"] span:nth-of-type(1) {
	background-color: black; 

	transform: rotate(45deg) scaleX(1.25);
  }
  
  section.streepjes li:nth-of-type(1) button[aria-expanded="true"] span:nth-of-type(2) {
	opacity: 0;

  }
  
  section.streepjes li:nth-of-type(1) button[aria-expanded="true"] span:nth-of-type(3) {
	background-color: black; /* Kleur zwart bij een actief menu */

	transform: rotate(-45deg) scaleX(1.25);
  }



img[alt="ABN Partner logo"] {
	position: absolute; 
	width: 25%;
	padding: 42em 0 0 1em;
	height: auto; 
	display: block; 
  }

/* Bron Media Queries: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries */
@media (min-width: 768px) {
	img[alt="ABN Partner logo"] {
	  position: absolute; 
	  top: -3em; 
	  left: 72em; 
	  width: 15%; 
	  max-width: 12em; 
	  margin: 0;
	  z-index: 10; 
	}
  }


img[alt="shop ticket button"] {
	position: absolute;
	top: 0.9em;
	z-index: 10;
	right: 3.2em;
	width: 9em;
  }

ul {
	list-style-type: none;  
  }
  

main section:nth-of-type(1) {
	height:100vh;
	background-image: url('../images/hoofdafbeelding1.jpg');
	background-position: center center;
	background-size: cover; 
	display:flex;
	align-items: end;
}

main section:nth-of-type(1) ul {
	margin: 0;
	padding: 0 1em 10em 1em;

}

/* Bron Transform Translate: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate*/
main section:nth-of-type(1) h2 {
	font-size: 3.8em;  
	font-weight: 500;
	color: white;
	margin: 0;

	line-height: 1;
	position: relative;
    text-shadow: 1px 1px 2px black; 
  }

@media (min-width: 768px) {
	main section:nth-of-type(1) h2 {
	  font-size: 4.5em; 
	  padding-left: 0.5em;
	}
  }

/* Grote schermen */
@media (min-width: 1024px) {
	main section:nth-of-type(1) h2 {
	  bottom: -1em;
	  font-size: 5em;
	}
  }
  
  /* Extra grote schermen */
  @media (min-width: 1440px) {
	main section:nth-of-type(1) h2 {
	  bottom: -1em;
	  font-size: 5.5em; 
	}
  }

  
section:nth-of-type(2) {
	display: grid; 
	place-items: center; 
	height: 35vh; 
	width: 100vw; 
	background-color: #879ac0; 
	box-sizing: border-box; 
  }
  
  
  /* Bron Marquee: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee */
  /* Mag van Sanne */
marquee {
	font-size: 7em; 
	white-space: nowrap; 
	font-weight: 700;
  }
  

img[alt="leeuwafbeelding"] {
	width: 100%;
	height: 90vh; 
	object-fit: cover; 

  }


section:nth-of-type(3) h2 {
	font-size: 2em; 
	font-weight: 400; 
	color: white; 
	white-space: nowrap;
	cursor: pointer; 
  }

section:nth-of-type(3) {
	display: grid; 
	overflow-x: auto;
	background-color:black; 
	margin-top: -0.4em;  
	padding: 0 1.5em 0 1.5em;
  }

section:nth-of-type(4) h2 {
	font-weight: 450;
	font-size: 2.2em;
	padding: 2em 8.2em 0 0.5em ;
}


section:nth-of-type(4) h3 {
	position: relative;
	left: 12em;
	top: -4.9em;
	font-size: 1em;
	font-weight: 900;
}

section:nth-of-type(4) img {
	position: relative;
	width: 95%;
	top: -2em;
}

section:nth-of-type(4) {
	display: grid;          
	place-items: center;     
}

section:nth-of-type(5) {
	position: relative;
	align-items: center; 
	display: flex;
	height: 4vh;
	width: 20vw;
	background-color: black;
	left: 2em;
  }
  
  section:nth-of-type(5) h2 {
	font-weight: 350;
	color: white;
	font-size: 1em;
	padding-left: 1.2em;
  }

  section:nth-of-type(6) h2 {
	font-weight: 500;
	font-size: 2.3em;
	padding-left: 0.8em;
	padding-top: -4em;
  }

  section:nth-of-type(6) h3 {
	font-weight: 600;
	font-size: 0.9em;
	padding-left: 2.1em;
	padding-bottom: 3em;
}

section:nth-of-type(7) img {
	width: 100%;
}

/* Zwarte achtergrond voor sectie 7 */
section:nth-of-type(7) {
	background-color: black; /* Zwarte achtergrond voor de sectie */
	padding-bottom: 1em;
  }
  
  /* Inhoud van sectie 7 */
  section:nth-of-type(7) h3 {
	font-weight: 300;
	font-size: 1.4em;
	padding-left: 1.2em;
	color: white; /* Zorg ervoor dat de tekst zichtbaar is op de zwarte achtergrond */
  }
  
  section:nth-of-type(7) h2 {
	font-weight: 600;
	font-size: 2.5em;
	padding-left: 0.6em;
	color: white; /* Witte tekst voor betere zichtbaarheid */
  }
  
  section:nth-of-type(7) p {
	font-weight: 300;
	font-size: 1.3em;
	padding-left: 1.2em;
	color: white; /* Witte tekst voor betere zichtbaarheid */
  }
  
  /* Zwarte achtergrond voor sectie 8 */
  section:nth-of-type(8) {
	display: flex;
	align-items: center;
	padding-left: 1.5em;
	padding-bottom: 4em;
	background-color: black; /* Zwarte achtergrond voor de sectie */
  }
  
  /* Inhoud van sectie 8 */
  section:nth-of-type(8) h2 {
	font-weight: 400;
	font-size: 1.2em;
	padding: 0.3em 1.5em;
	border: 0.12em solid white;
	color: white; /* Zorg ervoor dat de tekst zichtbaar is op de zwarte achtergrond */
  }


  section:nth-of-type(9) h2 {
	font-weight: 500;
	font-size: 3em;
	padding-left: 0.5em;
	border-bottom: 1px solid black; /* Zwarte lijn onder h2 */
  }
  
  section:nth-of-type(9) h3 {
	font-weight: 200;
	font-size: 1em;
	padding-left: 1.5em;
	margin-top: -5em;
	color: #7d5620;
  }
  


section:nth-of-type(9)  {
	display: grid; 
	height: 35vh; 
	width: 100vw; 
	background-color: #f7aa3e; 
}







  
  


  








  

	
  
  



  







  






  



  
  
  
  
  
  



  
  

  